/*HERANÇAS*/
body {
    color: red;
    border: 1px solid blue;
    background-color: rgb(225, 218, 218);
}

/*Tudo que estiver dentro do body vai herdar as instruções, menos border e background*/

/*ESPECIFICADES*/
p {
    color: blue !important;
}

p {
    color: green;
}

/*O !important sobrescreve a herança e a especificidade, pois por padrão a instrução do ultimo seletor sempre é a valida*/
/*O seletor mais especifico tem preferencia a um geral, sempre*/
/*ID > CLASS > TAG*/
h2#amarelo {
    /*1*/
    color: yellow;
}

h2.verde {
    /*2*/
    color: green;
}

h2 {
    /*3*/
    color: red;
}

/*ID SEMPRE É MAIS ESPECIFICO QUE CLASS QUE É SEMPRE MAIS ESPECIFICA QUE TAG*/